#upload {
	padding: 10px 0;
	min-height: 60px;
}

#upload .qq-upload-button {
	color: #444;
	font-weight: bold;
	background: #eee;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	margin: 10px 0;
	padding: 10px;
	float: left;
}

#upload .qq-upload-button-hover {
	color: #d54e21;
	background: #eee;
}

#upload .qq-upload-list {
	font-family: inherit;
	float: left;
}

#upload .qq-upload-list li {
	background-color: inherit;
}

#return {
	margin-left: 0;
}

.album-photo {
	padding: 10px 5px;
}

.album-photo.hover,
.album-photo:hover {
	background: #f0f0f0;
}

.album-photo img {
	float: left;
	margin-bottom: 10px;
}

.album-photo .path {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.photo-actions {
	text-align: right;
	float: right;
}
