/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li {
	width: 140px;
	height:74px;
}
.pika-stage {
	width: 945px;
}

.pikachoose {
	width: 945px;
	margin: 0 auto;
}
.pika-stage {
	position: relative;
	padding: 0px;
	text-align:center;
	height:350px;
}
/*if you change the padding on pika-stage you must adjust the top left of this to match! */
.pika-stage .main-image {
	position: absolute;
	top: 10px;
	left: 10px;
}
.pika-stage .pika-aniwrap {
	position: absolute;
	top: 0px;
	left: 0px;
}
.pika-stage .pika-aniwrap {
	width:100%;
}
.pika-stage .pika-ani {
	position:relative;
	display: none;
	z-index:2;
	margin:0 auto;
}
.pika-stage img {
	border:0;
	height:100%;
}
.pika-stage .caption {
	position: absolute;
	background: url(../img/pikachoose/75-black.png);
	border: 1px solid #141414;
	font-size: 11px;
	color: #fafafa;
	padding: 10px;
	text-align: right;
	bottom: 50px;
	right: 10px;
}
.pika-stage .caption p {
	padding: 0;
	margin: 0;
	line-height: 14px;
}
.pika-imgnav a {
	position: absolute;
	text-indent: -5000px;
	display: block;
	z-index:3;
}
.pika-imgnav a.previous {
	background: url(../img/pikachoose/prev.png) no-repeat left 45%;
	height: 100%;
	width: 50px;
	top: 10px;
	left: 0px;
	cursor:pointer;
}
.pika-imgnav a.next {
	background: url(../img/pikachoose/next.png) no-repeat right 45%;
	height: 100%;
	width: 50px;
	top: 10px;
	right: 0px;
	cursor:pointer;
}

.pika-imgnav a.play {
	background: url(../img/pikachoose/basic.png) no-repeat -135px 50%;
	height: 100px;
	width: 44px;
	top:0;
	left:50%;
	cursor:pointer;
}
.pika-imgnav a.pause {
	background: url(../img/pikachoose/basic.png) no-repeat -197px 50%;
	height: 100px;
	width: 44px;
	top:0;
	left:50%;
	cursor:pointer;
}
.pika-textnav {
	overflow: hidden;
	margin: 10px 0 0 0;
}
.pika-textnav a {
	font-size: 12px;
	text-decoration: none;
	color: #333;
	padding: 4px;
}
.pika-textnav a.previous {
	float: left;
	width: auto;
	display: block;
}
.pika-textnav a.next {
	float: right;
	width: auto;
	display: block;
}
.pika-thumbs {
	margin: -85px 0 0 17px;
	padding: 0;
	overflow: hidden;
	position: absolute;
	z-index: 999;
}
.pika-thumbs li {
	float: left;
	list-style-type: none;
	padding: 3px;
	margin: 0 5px;
	background: #000000;
	border: 1px solid #000000;
	cursor: pointer;
}
 .pika-thumbs li:last {
margin: 0;
}
.pika-thumbs li .clip {
	position:relative;
	height:100%;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
}
/*for the tool tips*/
.pika-tooltip {
	font-size:12px;
	position:absolute;
	color:white;
	padding:3px;
	background-color: rgba(0, 0, 0, 0.7);
	border:3px solid black;
}
.pika-counter {
	position: absolute;
	top: 5px;
	left:5px;
	color:white;
	background:rgba(0, 0, 0, 0.7);
	font-size:11px;
	padding:3px;
	-moz-border-radius: 5px;
	border-radius:5px;
}
/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-container {

	overflow:hidden;
	position: absolute !important;
	z-index: 999;
	width: 100%;
	margin: -85px 0 0 0;
}
.jcarousel-clip {
	overflow:hidden;
}
.jcarousel-skin-pika .jcarousel-container-horizontal {
	padding: 15px 20px;
	overflow:hidden;
}
.jcarousel-skin-pika .jcarousel-clip-horizontal {
	height: 90px;
	width: 485px;
}
.jcarousel-skin-pika .jcarousel-item-horizontal {
	margin-right: 10px;
}
